@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Azeret Mono", monospace;
    font-size: 4.3rem;
    text-align: center;
    line-height: 1em;
    letter-spacing: -3px;
    color: #00704A;
    margin: 0;
}

h2 {
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-size: 4.3rem;
    margin: 1.5rem 0;
}

h3 {
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-size: 3.125rem;
    letter-spacing: -2px;
    text-align: center;
    margin: 0;
}

h4 {
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    margin: 0;
}

h5 {
    font-family: "Azeret Mono", monospace;
    font-size: 3.125rem;
    font-weight: 800;
    text-align: center;
}

h6 {
    font-family: "Azeret Mono", Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin: 5rem 0 2rem 0;
}


p {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 166%;
}

a {
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #1d1d1d
}

a:hover {
    cursor: url('../images/cursor.svg'), auto;
}

.button1 {
    background-color: #00704A;
    color: white;
    padding: 0.625rem 1.4375rem;
    border-radius: 2px;
    display: inline-block;
    transition: 0.2s;
}

.button1:hover {
    background-color: #1C3426;
}

li {
    list-style: none;
}

.container {
    max-width: 1260px;
    margin: 0 auto;;
}

.flex {
    display: flex;
}

body {
    padding: 0;
    margin: 0;
    cursor: url('../images/cursor.svg'), auto;
}

.scroll-progress {
    position: fixed;
    top: 0%;
    background-color: #D64933;
    height: 6px;
    width: 0%;
    animation: prog 3s;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    z-index: 6;
    border-radius: 2px 0;
}

@keyframes prog {
    to {
        width: 180%;
    }
}

/* ------------------------------------------------------------------------HEADER / NAV-------------------------- */

header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: top 0.5s;
    border-bottom: #1d1d1d 2px solid;
}

.logo {
    border-right: #1d1d1d 2px solid;
    width: 20%;
    fill: #00704A;
}

.header-left {
    width: 40%;
    margin-left: 25%;
    padding: 0.7rem;
}

.header-left img {
    width: 100%;
}

nav {
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    text-align: center;
}

.main-nav a {
    padding: 0 1rem;
    font-family: "Azeret Mono", monospace;
    font-size: 0.8rem;
    font-weight: 400;
    transition: 0.5s;
}

.main-nav a:hover, footer ul li a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: 700;
}

/* ------------------------------------------------------------------------FOOTER-------------------------- */

footer {
    background-color: #1C3426;
}

footer .flex {
    justify-content: space-between;
    padding: 1.5rem 0;
}

footer .flex div img {
    width: 80%;
    padding-top: 2rem;
}

footer ul li {
    padding: 0.4rem 0;
}

footer ul li a {
    color: white;
    font-family: "Azeret Mono", monospace;
    font-weight: 300;
    /* Hover effect is above */
}





/*---------------------HOME------------------------------------------------------------------------------*/

.home-hero {
    background-image: url("../images/home-hero.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
}


.scroll {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 0 auto;
    position: relative;
    top: -10vh;
    animation: opacity 2s 2s ease forwards;
    opacity: 0;
    transition: 0.2s all;
}

.scroll p {
    font-family: "Azeret Mono", monospace;
    color: #D64933;
    font-weight: 700;
    margin: 0;
}

.scroll:hover   {
    top: -9.5vh;
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

.wrapper {
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    animation: slide 5s ease;
}

.wrapper h6 {
    margin: 0;
    color: #00704A;

}


.company {
    margin: 0 auto 10rem;
    padding-top: 10rem;
    justify-content: space-between;
}

.company h3 {
    width: 40%;
    text-align: right;
}

.company p {
    width: 50%;
    display: inline-block;
    text-align: left;
    margin: 0.6rem auto;
}

.icon-box {
    width: 50%;
    transition: 0.2s;
}

section {
    justify-content: space-between;
}

.section-left {
    width: 45%;
    text-align: center;
}

.section-text {
    flex-flow: column;
    width: 100%;
    text-align: left;
    justify-content: flex-end;
    padding-left: 5%;
    transition: 0.2s;
}

.link {
    align-items: center;
    transition: 0.2s;
}

.link a:hover {
   transition: 0.2s;
}

.link i {
    padding-left: 3%;
    font-size: 1.2rem;
    transition: 0.2s;
}

.section-text h3 {
    text-align: left;
}

.section-right {
    width: 45%;
}

.section-left:hover .link i, .section-right:hover .link i {
    padding-left: 5%;
}
.section-left:hover .section-text, .section-right:hover .section-text {
    padding-left: 4.5%;
}
.section-left:hover .link a, .section-right:hover .link a {
    text-decoration: underline;
}

.block {
    display: block;
}


article {
    width: 100%;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #C6EEF3 100%);;
}

.letter {
    margin-top: 8rem;
    /* max-width: 1000px; */
    padding: 7rem 2rem 19rem 2rem;

}

.letter h3 {
    margin-bottom: 3rem;
}

.letter p {
    text-align: center;
}









/*---------------------SUSTAINABILITY------------------------------------------------------------------------------*/

.sus-hero {
    background-image: url("../images/sustainability.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.sus-hero-block {
    background-color: white;
    width: 50%;
    padding: 4rem;
    position: relative;
    top: 20vh;
    left: 7vw;
    animation: slide 1s forwards ease-out;
    opacity: 0;
}

@keyframes slide {
    0% {
        opacity: 0;
        left: 13vh;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.sus-hero-block p {
    margin-bottom: 3rem;
    display: inline-block;
}

.environment {
    justify-content: space-around;
    padding-top: 5rem;
    margin-top: 5rem;
    max-width: 1200px; 
    margin: auto;
    align-items: flex-end;
}

.environment h3, .environment p {
    text-align: right;
    
}

.environment div:nth-child(1) {
    width: 40%;
}

.environment img {
    width: 100%;
    margin-bottom: 1rem;
}

.environment div:nth-child(2) {
    width: 60%;
    padding-left: 3rem;
    
}

.environment-left {
    width: 60%;
    
}

.environment .environment-left p {
    text-align: left;
}

.env2 {
    padding-top: 2rem;
    justify-content: space-between;
    margin-bottom: 15rem;
    max-width: 1200px; 
    margin: auto;
}

.pie {
    width: 40%;
    justify-content: center;
}

.pie img {
    width: 80%;
}

/* -----------------BLACKOUT------------------------- */
.blackout {
    background-color: black;
}

.blackout-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.blackout-container > div {
    padding: 5rem 0;
}

.horizontal-bar {
    height: 60px;
    width: 80%;
    position: relative;
    margin: 0 auto;
    border: solid 2px white;
}

.fade-in {
    animation: fade-in 1s;

}

@keyframes fade-in {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.bottom-bar {
    background-image: url("../images/smoke.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    transform-origin: left;
    animation: bar 3s forwards;
    z-index: 2;
    border-right: 4px solid white;
}

.top-bar {
    background: linear-gradient(90deg, #00704A 50%, #1C3426 80.73%);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    justify-content: flex-end;
    align-items: center;
}

.top-bar p {
    font-family: "Azeret Mono", monospace;
    display: inline-block;
    margin-right: 4%;
}

@keyframes bar {
    0% {
        transform: scaleX(100%);
    }
    100% {
        transform: scaleX(50%);
    }
}

.stalk-money {
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.stalk-money h5 {
    font-weight: 700;
    font-size: 4.375;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    margin: 0;
}

.stalk-money p {
    font-size: 1.2rem;
    margin: 0%;
    text-align: center;
}

.stalk-box:nth-child(1) {
    animation: stalk 3s forwards;
}

.stalk-box:nth-child(2) {
    opacity: 0;
    animation: stalk 3s 1s forwards; 
}

.stalk-box:nth-child(3) {
    opacity: 0;
    animation: stalk 3s 2s forwards; 
}

@keyframes stalk {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.green {
    color: #69DC9E;
}

.vertical-bar {
    border: white solid 2px;
    height: 300px;
    width: 60%;
    position: relative;
    margin: 0 auto;
}

.waste-bar {
    position: absolute;
    top: 0%;
    bottom: 0;
    width: 100%;
    transform-origin: bottom;
    background-color: #00704A;
    animation: battery 3s forwards;
}

.vertical-bar p {
    font-family: "Azeret Mono", monospace;
    position: absolute;
    top: 79%;
    right: 2%;

}

@keyframes battery {
    0% {
        transform: scaleY(100%);
    }
    100% {
        transform: scaleY(4%);
    }
}

.system-content {
    position: relative;
    left: 20%;
    top: 10vh;
    width: 80%;
    padding: 2rem;
}

.sidebar {
    width: 20%;
    background-color: white;
    border-right: 2px #1d1d1d solid;
    height: 100%;
    position: fixed;
    justify-content: center;
}

.sidebar ul {
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.sidebar ul li:nth-child(1) {
    padding-top: 7rem;
}

.sidebar ul li {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #1d1d1d;
}

.sidebar ul li:nth-child(6) {
    border: none;
}

.sidebar ul li:nth-child(6) div a:hover {
    background-color: transparent;
    color: #1d1d1d;
    text-decoration: underline;
}

.sidebar ul li:nth-child(6) div:hover .back-arrow {
    margin-right: 1rem;
}

.sidebar ul li:hover {
    color: white;
}

.sidebar ul li a {
    font-family: "Azeret Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.6rem 0;
    transition: 0.1s;
}

.sidebar ul li a:hover, .selected a, .parts-box a:hover {
    background-color: #00704A;
    letter-spacing: -1px;
    color: white;
}

.back-to-site {
    width: 70%;
    margin: 0 auto;
    max-width: 300px;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 3rem; */
}

.back-to-site img {
    display: block;
    width: 80%;
    min-width: 8px;
    transform: rotateZ(90deg);
}

.back-arrow {
    width: 1.5rem;
    justify-content: right;
    transition: 0.2s;
}

.color {
    max-width: 980px;
    margin: 0 auto;
}

.color p {
    margin: 3rem 0 10rem;
}

.color h3 {
    text-align: left;
}

.palette-container {
    width: 100%;
    height: 60vh;
    position: relative;
}

.hess-green {
    position: absolute;
    top: 190px;
    transform-origin: top left;
    animation: scale 3s steps(60);
    transition: 0.5s;

}

.terracotta {
    position: absolute;
    left: 30%;
    top: 30px;
    transform-origin: top right;
    animation: scale 2s steps(40);
    transition: 0.5s;
}

.dark-green {
    position: absolute;
    top: 50%;
    right: 0;
    transform-origin: right;
    animation: scaleX 3s steps(60);
    transition: 0.5s;
}

.blue {
    position: absolute;
    left: 60%;
    top: 30%;
    transform-origin: bottom;
    animation: scaleY 3s steps(60);
    transition: 0.5s;
}

.mint {
    position: absolute;
    left: 70%;
    top: 5%;
    animation: scale 2s steps(60);
    transition: 0.5s;
}

.terracotta:hover, .dark-green:hover, .blue:hover, .hess-green:hover, .mint:hover {
    transform: scale(108%);
    transform-origin: center;
}

@keyframes scale {
    from {
        transform: scale(10%);
    }
    to {
        transform: scale(100%);
    }
}

@keyframes scaleX {
    from {
        transformX: scale(10%)
    }
    from {
        transform: scaleX(10%);
    }
}

@keyframes scaleY {
    from {
        transform: scaleY(10%)
    }
    to {
        transform: scaleY(100%);
    }
    
}

.tooltip {
    position: absolute;
    top: -45px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    text-align: center;
    margin: 0 auto;
    width: 100%;

}

.tooltip img {
    width: 70%;
}

.terracotta:hover .tooltip, .dark-green:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.system-content p {
    display: block;
    margin-top: 4rem;
    width: 90%;
    text-align: justify;
}

/* ------------------------------------------------------------------------DESIGN SYSTEM-------------------------- */
.pattern {
    height: 100%;
    position: absolute;
    float: inline-start;
    background-color: transparent;
    z-index: -1;
}

.sqblue {
    position: relative;
    top: 23%;
    transform-origin: top left;
    animation: scale2 4s ease infinite;
}

@keyframes scale2 {
    0% {
        transform: scale(10%);
    }
    50% {
        transform: scale(100%);
    }
    100% {
        transform: scale(10%);
    }
}

@keyframes scale3 {
    0% {
        transform: scale(1000%, 10%);
    }
    50% {
        transform: scale(200%, 10%);
    }
    100% {
        transform: scale(1000%, 10%);
    }
}

@keyframes scale4 {
    0% {
        transform: scale(15%, 550%);
    }
    50% {
        transform: scale(15%, 150%);
    }
    100% {
        transform: scale(15%, 550%);
    }
}

.sqdg {
    position: relative;
    top: 27%;
    left: 83%;
    animation: scale2 4s ease infinite;

    transform-origin: top right;

}

.sqdg2 {
    position: relative;
    top: -8%;
    left: -32%;
    transform: scale(1000%, 10%);
    animation: scale3 4s ease infinite;
}

.sqterra {
    position: relative;
    top: 58%;
    left: %;
    width: 10%;
    animation: scale2 4s ease infinite;


}

.sqterra2 {
    position: relative;
    top: -7%;
    left: 30%;
    width: 3%;
    animation: scale2 4s ease infinite;

}

.sqmint {
    position: relative;
    top: 17%;
    left: 45%;
    animation: scale2 4s ease infinite;

}

.sqgreen {
    position: relative;
    left: 10%;
    top: 6%;
    width: 10%;
    animation: scale2 4s ease infinite;
    transform-origin: bottom right;
}

.sqblue2 {
    position: relative;
    top: 48%;
    left: 25vw;
    transform: scale(15%, 550%);
    animation: scale4 4s infinite;
}




.parts {
    width: 60%;
    margin: 5rem auto 15rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parts-box {
     width: 45%;
}

.parts-box a {
    width: 100%;
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    border: solid #1d1d1d 2px;
    display: inline-block;
    color: #1d1d1d;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2px;
    text-align: center;
    transition: all 0.2s;
}

.left {
    text-align: left;
    margin: 2rem 0 1rem;
}




/* -----------------TYPOGRAPHY------------------------- */
h3 span {
    transition: 0.2s;
}

h3 span:hover {
    color: #00704A;
    /* font-family: "Azeret Mono", monospace;
    font-size: 2.5rem;
    font-weight: 600; */
    letter-spacing: -3px;
}

.type-title {
    white-space: nowrap;
    overflow: hidden;
    margin: 2rem auto;
    animation: typing 3.5s steps(40, end);
}

.typechart {
    margin: 3rem auto;
    max-width: 1000px;
}

.r1 {
    margin: 0;
}

.r1, .r2 {
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.r2:hover {
    background-color: #00704A;
    padding: 0 1rem;
    color: white;
}

.r1 h6 {
    font-size: 1.4rem;
    margin: 2rem 0;
    width: 100%;
}

.r2 h6 {
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin: 1rem 1rem;
}

.r2 .scale1 {
    font-size: 70px;
    font-weight: 600;
}

.r2 .scale2 {
    font-weight: 800;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.r2 .scale3 {
    font-weight: 800;
    font-size: 30px;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
}
.r2 .scale4 {
    font-weight: 400;
    font-size: 20px;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
}

.r2 .scale5 {
    font-weight: 400;
    font-size: 18px;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

.r2 .scale6 {
    font-weight: 600;
    font-size: 18px;
    font-family: "Arimos", Arial, Helvetica, sans-serif;
}

.r2 .scale7 {
    font-weight: 400;
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
}

/* -----------------ANIMATIONS------------------------- */

.animation1 {
    justify-content: space-evenly;
}

.anim-terr img {
    width: 150px;
    animation: scale2 2s infinite;
}

.anim-blue img {
    width: 150px;
    animation: scale2 2s 0.5s infinite;
    animation-fill-mode: backwards;  
}

.anim-dg img {
    width: 150px;
    animation: scale2 2s 1s infinite;
    animation-fill-mode: backwards;  

}

/* .animation-1 {
    height: 50px;
    width: 50px;
    background-color: #00704A;
    transform-origin: left;
    animation: animation-1 3s ease infinite
                /* animation-1-post 2s 3s ease-out infinite; */
}

@keyframes animation-1 {
    0% {
        transform-origin: left;
    }
    100% {
        transform-origin: left;
        width: 100%;
    }
}

@keyframes animation-1-post {
    0% {
        transform-origin: right;
        width: 100%;
    }

    100% {
        transform-origin: right;
        width: 10%;
        transform: scaleX(1);
    }
} */

.animations h3 {
    text-align: left;
    letter-spacing: -2px;

}

@keyframes typing {
        from { width: 0; }
        to { width: 100%; }
}

.buttons {
    justify-content: left;
    align-items: center;
    margin-bottom: 9rem;
}

.faux-link {
    border: 2px solid #1d1d1d;
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
    padding: 1rem;
    border-radius: 2px;
    margin: 0 2rem;
    transition: 0.2s all;
}

.faux-link:hover {
    background-color: #00704A;
    color: white;
    letter-spacing: -0.5px;
}

.faux-link a {
    padding: 1rem;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00704A;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }